// colors
$clr-body-bg: #f6f6f6;
$clr-footer-bg: #414141;
$clr-text-light: #646464;
$clr-text-lighter: #9c9c9c;
$clr-text-active: #e85f61;
$clr-text-link: #33c1e3;
$clr-text-white: #fff;
$clr-text-header: #414141;
$clr-header-border: #bebebe;
$clr-career-text: #727272;
$clr-career-hdr: #5a5a5a;

// font sizes
$fnt-size-0: 35px;
$fnt-size-1: 21px;
$fnt-size-2: 18px;
$fnt-size-3: 14px;

// page sizes
$width-wrapper: 960px;
$width-container: 940px;
$height-footer: 50px;
$height-header: 80px;

//mixins
@mixin wh-val-100 {
	width: 100%;
	height: 100%;
}

@mixin clearfix {
	content: "";
	display: block;
	clear: both;
}

@mixin iblock-center {
	display: inline-block;
	vertical-align: middle;
}

@import 'scss_modules/normalize';
@import 'scss_modules/fonts/font-awesome.scss';
@import 'scss_modules/fonts/font-fira.scss';
@import 'scss_modules/header';
@import 'scss_modules/sidebar';
@import 'scss_modules/about';
@import 'scss_modules/career';
@import 'scss_modules/portfolio';
@import 'scss_modules/footer';

* {
	margin: 0;
	padding: 0;
}

html {
	@include wh-val-100;

	body {
		@include wh-val-100;
		font-family: 'fira', 'Arial', sans-serif;
		font-size: $fnt-size-2;
		font-weight: 400;
		line-height: 1.42;
		color: $clr-text-light;
		background-color: $clr-body-bg;
	}
}

.wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100%;
	min-width: $width-wrapper;
	&:after {
		content: "";
		display: block;
		height: $height-footer;
	}
}

.container {
	margin: 0 auto;
	max-width: $width-container;
	&:after {
		@include clearfix;
	}
}

.page-content {
	float: left;
	width: 698px;
	margin-left: 20px;
}

.page-content--title {
	font-size: $fnt-size-0;
	font-weight: 600;
	color: $clr-text-header;
	margin: 0;
	margin-bottom: 14px;
}

.ctl-button {
	padding: 7px 13px;
	border-width: 2px;
	border-style: solid;
	font-size: $fnt-size-3;
	font-weight: 700;
	text-decoration: none;
	border-radius: 25px;
}

.mp-button {
	@extend .ctl-button;
	border-color: $clr-text-active;
	color: $clr-text-active;
	&:hover {
		color: $clr-text-white;
		background-color: $clr-text-active;
	}
	&--icon {
		@include iblock-center;
	}
	&--label {
		@include iblock-center;
		margin-left: 10px;
	}
}