footer {
	background-color: $clr-footer-bg;
	position: relative;
	height: $height-footer;
	margin-top: -$height-footer;
}

.footer--left, .footer--right {
	float: left;
	width: 50%;
}

.footer--left {
	padding-top: 18px;
}

.footer--right {
	text-align: right;
	padding-top: 10px;
}

.copyright {
	font-size: $fnt-size-3;
	font-weight: 100;
	color: $clr-text-lighter;
}

.socials {
	list-style: none;
}

.social--item {
	@include iblock-center;
	margin-left: 3px;
}

.social--link {
	width: 31px;
	height: 31px;
	display: block;
	background-image: url('../img/icons/socials.png');
	background-repeat: no-repeat;

	&-fb {
		background-position: 0%  0%;
		&:hover {
			background-position: 0% 103%;
		}
	}

	&-vk {
		background-position: 50%  0%;
		&:hover {
			background-position: 50% 103%;
		}
	}

	&-tw {
		background-position: 100% 0%;
		&:hover {
			background-position: 100% 103%;
		}
	}

}