.portfolio {
	padding-top: 1px;
	&--list {
		margin-top: -2px;
		margin-left: -20px;
		font-size: 0;
		list-style: none;
		margin-bottom: 40px;
		&:after {
			@include clearfix;
		}
	}

	&--item {
		border-radius: 10px;
		background-color: $clr-text-white;
		box-shadow: 0 1px 3px 0 rgba(0,0,0, .2);
		width: 220px;
		overflow: hidden;
		display: inline-block;
		vertical-align: top;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	&--link {
		display: block;
		text-decoration: none;
		&:hover {
			.portfolio--title {
				color: $clr-text-active;	
			}
		}
	}

	&--image {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		height: 175px;
	}

	&--desc {
		padding: 20px;
	}

	&--title {
		font-size: $fnt-size-1;
		color: $clr-text-link;
		margin-bottom: -1px;
	}

	&--info {
		font-size: $fnt-size-3;
		color: $clr-text-header;
		font-weight: 100;
		margin-left: 2px;
		margin-bottom: 10px;
	}
}

.portfolio--icon, .portfolio--label {
	@include iblock-center;
	color: #aeaeae;
}

.portfolio--icon {
	margin-left: 2px;
	font-size: $fnt-size-2;
}

.portfolio--label {
	max-width: 160px;
	margin-left: 5px;
	font-size: $fnt-size-3;
	font-weight: 600;
}